<template name="home">
  <div class="page home">
    {{>nav title='Home' black=true}}

    <div class="content-scrollable">

      <h3>Employee Listing</h3>
  	   <ul>
        {{#each employees}}
          {{> employee}}
        {{/each}}
        </ul>
  </div>
  <!--Div that will hold the pie chart-->
    <canvas id="myChart" width="400" height="400"></canvas>

</div>
</template>

<template name="employee">
<li><img src="{{picture.url}}" width="75" height="75"/><a href="/employeeInfo/{{objectId}}/{{repID}}">{{name}}</a></li>
</template>
